main {
    /* background-image: url("/image/bg_news.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

.progress {
    position: sticky;
    top: 65;
    height: 10px;
    border-radius: 10px;
    width: 100%;
    padding: 0;
    margin-top: 10px;
}

.date {
    border-radius: 20px;
    padding: 0 10px;
}

.news-title {
    font-family: 'Oxygen', sans-serif;
    text-transform: capitalize;
    text-align: justify;
    letter-spacing: 1px;
    margin-top: 10px;
    padding: 8px;
    color: #000;
    background: -webkit-linear-gradient(110deg, #00b8d4 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #1de9b6 70%, #00e5ff 70%);
    background: -o-linear-gradient(110deg, #00b8d4 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #1de9b6 70%, #00e5ff 70%);
    background: -moz-linear-gradient(110deg, #00b8d4 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #1de9b6 70%, #00e5ff 70%);
    background: linear-gradient(110deg, #00b8d4 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #1de9b6 70%, #00e5ff 70%);
    border-radius: 8px;
}

img {
    object-fit:contain;
    margin: 0 auto;
    border: 1px grey solid;
    border-radius: 10px;
    width: 100%;
}

.p-news {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5em;
    text-align: justify;
    font-weight: 500;
    padding: 8px;
    margin: 0;
}